<fieldset>
    <label>{{label}}</label>
    <div class="row">
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextOne'"  
                [sectionId]="id"       
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextTwo'"   
                [sectionId]="id"           
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextThree'"
                [sectionId]="id"
                [required]="true"
                [label]="'Text input'">
            </text-input-control>
        </div>  
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextFour'"  
                [sectionId]="id"       
                [label]="'Text input'">
            </text-input-control>
        </div>      
    </div>
    <div class="row">
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextFive'"     
                [sectionId]="id"    
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextSix'"  
                [sectionId]="id"            
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextSeven'"       
                [sectionId]="id"        
                [label]="'Text input'">
            </text-input-control>
        </div>  
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextEight'"   
                [sectionId]="id"      
                [label]="'Text input'">
            </text-input-control>
        </div>      
    </div>
    <div class="row">
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextNine'"      
                [sectionId]="id"   
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextTen'"  
                [sectionId]="id"            
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                (maskedValueChanged)="onMaskedValueChanged($event)"
                [modelKey]="'sectionFourTextEleven'"       
                [sectionId]="id"        
                [label]="'Text here is copied over to next control'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [initialValue]="maskedValue"
                [modelKey]="'sectionFourTextTwelve'"
                [sectionId]="id"        
                [label]="'Text input receives copied text'">
            </text-input-control>
        </div>      
    </div>
</fieldset>
