<fieldset>
    <label>{{label}}</label>
    <div class="row">
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextOne'"         
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextTwo'"              
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextThree'"
                [required]="true"
                [label]="'Text input'">
            </text-input-control>
        </div>  
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextFour'"         
                [label]="'Text input'">
            </text-input-control>
        </div>      
    </div>
    <div class="row">
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextFive'"         
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextSix'"              
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextSeven'"               
                [label]="'Text input'">
            </text-input-control>
        </div>  
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextEight'"         
                [label]="'Text input'">
            </text-input-control>
        </div>      
    </div>
    <div class="row">
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextNine'"         
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextTen'"              
                [label]="'Text input'">
            </text-input-control>
        </div>
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextEleven'"               
                [label]="'Text input'">
            </text-input-control>
        </div>  
        <div class="col s3">
            <text-input-control #sectionFour
                [modelKey]="'sectionFourTextTwelve'"         
                [label]="'Text input'">
            </text-input-control>
        </div>      
    </div>
</fieldset>
