<fieldset>
    <label>{{label}}</label>
    <text-input-control
        #sectionOne
        [label]="'Text Field'"
        [modelKey]="'textFieldKey'"
        [initialValue]="'text field'"></text-input-control>
    <text-input-control
        #sectionOne
        [restrict]="'numeric'"
        [label]="'Text Field just digits'"
        [modelKey]="'textFieldKeyOnlyDigits'"
        [initialValue]="'0123456789'"></text-input-control>
    <text-input-control
            #sectionOne
            [maxLen]="maxLen"
            [label]="'Text Field with variable maxlen'"
            [modelKey]="'textFieldKeyWithVariableMaxLen'">
    </text-input-control>
    <zipcode-control
            #sectionOne
            [label]="'Zip Code'"
            [modelKey]="'zipCode'">
    </zipcode-control>
    <p>
        <label>Choose maxLen of the above field:</label>
        <input (click)="maxLen=10" id="maxLenCase10" name="maxLenCase" type="radio"/>
        <label for="maxLenCase10">10 chars</label>
        <input (click)="maxLen=5" id="maxLenCase5" name="maxLenCase" type="radio"/>
        <label for="maxLenCase5">5 chars</label>
    </p>
    <p>
        <label>Choose field requirement:</label>
        <input (click)="requiredField=true" id="fieldRequiredTrue" name="fieldRequired" type="radio"/>
        <label for="fieldRequiredTrue">Required</label>
        <input (click)="requiredField=false" id="fieldRequiredFalse" name="fieldRequired" type="radio"/>
        <label for="fieldRequiredFalse">Not required</label>
    </p>
    <p>{{requiredField}}</p>
</fieldset>
