<fieldset>
    <label>{{label}}</label>
    <div class="row">
        <div class="col s4">
            <date-control #sectionThree
                [modelKey]="'sectionThreeDateOne'"
                [sectionId]="id"
                [required]="dateRequired"
                [allowFutureDate]="true"
                [label]="'This date allows future date entry'">
            </date-control>
        </div>
        <div class="col s4">
            <date-control #sectionThree
                [modelKey]="'sectionThreeDateTwo'"
                [sectionId]="id"
                [required]="dateRequired"
                [allowFutureDate]="false"
                [label]="'Date - not in future'">
            </date-control>
        </div>
        <div class="col s4">
            <date-control #sectionThree
                [modelKey]="'sectionThreeDateThree'"
                [sectionId]="id"
                [required]="dateRequired"
                [allowFutureDate]="false"
                [label]="'Date - not in future'">
            </date-control>
        </div>    
    </div>
</fieldset>
