<form [formGroup]="myForm">

    <section-one *ngIf="sectionOneVisible==true"
        (requiredChanged)="onRequiredChanged($event)"
        (sectionTwoOpenChanged)="onSectionTwoOpenChanged($event)"
        [root]="myForm"
        [label]="'Section One'"        
        [id]="'sectionOne'">
    </section-one>

    <section-two *ngIf="sectionTwoVisible==true"
        [dateRequired]="dateRequired"
        [root]="myForm"
        [label]="'Section Two'"
        [id]="'sectionTwo'">
    </section-two>

    <section-three *ngIf="sectionThreeVisible==true"
        [root]="myForm"
        [label]="'Section Three'"
        [id]="'sectionThree'">
    </section-three>

    <section-four *ngIf="sectionFourVisible==true"
        [root]="myForm"
        [label]="'Section Four'"
        [id]="'sectionFour'">
    </section-four>    

    <fieldset>
        <button class="btn" type="submit"
            [disabled]="myForm.valid==false"
            (click)="onSubmit(myForm.value)">Submit</button>
    </fieldset>       

</form>

<div class="console">
    <a class="btn" (click)="onToggleSectionOne()">Toggle Section One</a>
    <a class="btn" (click)="onToggleSectionTwo()">Toggle Section Two</a>
    <a class="btn" (click)="onToggleSectionThree()">Toggle Section Three</a>
    <a class="btn" (click)="onToggleSectionFour()">Toggle Section Four</a>
    <a class="btn" (click)="onHideAll()">Hide All</a>
    <a class="btn" (click)="onShowAll()">Show All</a>
    <a class="btn" (click)="onReset()">Reset</a>
</div>

<div class="modelLog">
    <textarea>{{currentModel}}</textarea>    
</div>
