<form [formGroup]="myForm">

    <form-section [label]="'Section A'" 
        [id]="sectionA"
        [models]="[ 'date1', 'date2', 'date3' ]" 
        #sectionA 
        *ngIf="sectionAVisible==true">
        <date-control #sectionA 
            [initialValue]="'20200101'"
            [required]="true"
            [allowFutureDate]="false"
            [label]="'Date One'">
        </date-control> 
        <date-control #sectionA 
            [initialValue]="'20030101'"           
            [required]="true"
            [allowFutureDate]="false"
            [label]="'Date Two'">
        </date-control> 
        <date-control #sectionA
            [initialValue]="'19990101'"           
            [required]="true"
            [allowFutureDate]="false"
            [label]="'Date Three'">
        </date-control> 
    </form-section>    

    <form-section [label]="'Section B'" 
        [id]="sectionB"
        [models]="[ 'date4', 'name' ]" 
        #sectionB 
        *ngIf="sectionBVisible==true">
        <date-control #sectionB
            [initialValue]="'19780503'"
            [required]="true"
            [allowFutureDate]="false"
            [label]="'Date Four'">
        </date-control>
        <name-control #sectionB
            [initialValue]="'Jesionek'" 
            [label]="'Name'">
        </name-control>
    </form-section> 

    <form-section [label]="'Section C'" 
        [id]="sectionC"
        #sectionC 
        [models]="[ 'firstName', 'lastName' ]" 
        *ngIf="sectionCVisible==true">
        <name-control 
            [initialValue]="'Robert'" 
            [label]="'Firstname'"
            #sectionC>
        </name-control>
        <name-control 
            [initialValue]="'Jesionek'" 
            [label]="'Lastname'"
            #sectionC>
        </name-control>
    </form-section> 

    <fieldset>
        <button class="btn" type="submit"
            [disabled]="myForm.valid==false"
            (click)="onSubmit(myForm.value)">Submit</button>
    </fieldset>       

</form>

<a class="btn" (click)="onToggleSectionA()">Toggle Section A</a>
<a class="btn" (click)="onToggleSectionB()">Toggle Section B</a>
<a class="btn" (click)="onToggleSectionC()">Toggle Section C</a>