form {
  margin: 50px;
  padding: 100px;
  background-color: #eeeeee;
  fieldset {
    border: none;
  }  
}

.console {
  margin-bottom: 20px;
  margin-left: 20px;
}

.modelLog {
  margin-left: 20px;
  margin-bottom: 20px;
  textarea {
    padding: 20px;
    width: 600px;
    height: 300px;
  }
}